.phone-animation-container {
    width: 1400px;
    height: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 200px 0 100px 0;
    position: relative;
}
.phone-container {
    height: calc(1080px + 257px); /* 1080 + 257 */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
}
.phone-container-fixed {
    position: fixed !important;
}
.phone-animation-text-container {
    position: absolute;
    top: 1300px;
    left: 0;
}
.display-refreshrate-wrapper {
    height: 1000px;
}

.display-video-container-cover {
    width: 400px;
    height: 500px;
    position: relative;
}
.display-video-container video {
    width: 400px;
    height: 500px;
}
.display-video-container-cover::after {
    content: "";
    opacity: 0.8;
    background: url("https://xiaoxihome.s3.us-east-2.amazonaws.com/oneplus7pro/refreshrate/fps-cover.jpg") center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-size: cover;
    transition: 0.3s;
}
.display-video-container-cover:hover::after {
    opacity: 0.3;
    transition: 0.3s;
}
.display-video-container-cover p {
    z-index: 2;
    position: absolute;
    top: 65%;
}
.display-video-legends {
    width: 100%;
    height: 100px;
    text-align: center;
}